<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>

<listener class-name="com.Satnam_utilities.frameWorkListener">
</listener>
</listeners>

  <test thread-count="5" name="Test1">
    <classes>
      <class name="com.Satnam_Customer_scripts.createCustomer_TC001"/>
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="Test2">
    <classes>
      <class name="com.Satnam_Project_scripts.createProject_TC002"/>
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="Test3">
    <classes>
      <class name="com.Satnam_BillingType_scripts.createBilling_TC003"/>
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="Test4">
    <classes>
      <class name="com.Satnam_Tasks_scripts.createTasks_TC004"/>
    </classes>
  </test> <!-- Test -->
 </suite> <!-- Suite -->
 